@font-face {
  font-family: "iconfont"; /* Project id 3191629 */
  src: url('https://iconfont.woff2?t=1648193192392') format('woff2'),
       url('https://iconfont.woff?t=1648193192392') format('woff'),
       url('https://iconfont.ttf?t=1648193192392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e609";
}

.icon-xianghujiaohuan:before {
  content: "\e8f8";
}

.icon-iconzhucetouxiang:before {
  content: "\e62e";
}

.icon-shangchuantouxiang:before {
  content: "\e653";
}

.icon-xiangyousanjiao:before {
  content: "\e652";
}

.icon-plus:before {
  content: "\e608";
}

.icon-dianzan1:before {
  content: "\e669";
}

.icon-lab-kuqi:before {
  content: "\e606";
}

.icon-meiyoushuju:before {
  content: "\e604";
}

.icon-changan:before {
  content: "\e6e5";
}

.icon-beijingtuda:before {
  content: "\e627";
}

.icon-liebiao:before {
  content: "\e60a";
}

.icon-shouye1:before {
  content: "\e6a2";
}

.icon-arrow-:before {
  content: "\e625";
}

.icon-ai50:before {
  content: "\e6a8";
}

.icon-shanchu1:before {
  content: "\e696";
}

.icon-shanchu:before {
  content: "\e6bd";
}

.icon-shangchuanshipin:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-pingfen:before {
  content: "\e646";
}

.icon-zuixin:before {
  content: "\e61d";
}

.icon-ziyuan:before {
  content: "\e607";
}

.icon-dixian:before {
  content: "\e632";
}

.icon-dianzan:before {
  content: "\e616";
}

.icon-dui:before {
  content: "\e63f";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-nan:before {
  content: "\e60e";
}

.icon-xingbienan:before {
  content: "\e605";
}

.icon-nv:before {
  content: "\e61e";
}

.icon-hu:before {
  content: "\e602";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-shoucang:before {
  content: "\e90d";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-bofang:before {
  content: "\e62d";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-dianying:before {
  content: "\e679";
}

.icon-aidongman:before {
  content: "\e99a";
}

.icon-dianshiju:before {
  content: "\e6af";
}

.icon-zongyi:before {
  content: "\ea7b";
}

.icon-houtui:before {
  content: "\e601";
}

.icon-shipin:before {
  content: "\e637";
}

.icon-24gf-ellipsisVertical:before {
  content: "\eb10";
}

.icon-tianjia1:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-tianjia:before {
  content: "\e687";
}

.icon-icon_shouye:before {
  content: "\e620";
}

.icon-shouye:before {
  content: "\e66a";
}

.icon-shuaxin:before {
  content: "\e650";
}

