.bgColor {
	height: 100vh;
	background-image: linear-gradient(to bottom, #c2e1e7de, white);
}
.containerOut{
	position: absolute;
	width: 96%;
	margin-left: 2%;
	top: 0;
}
.backOut{
	display: flex;
	align-items: center;
}
.reportHeaderOut{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}
.reportStatusCard{
	height: 80px;
	width: 100%;
	background-color: #ffffffab;
	margin-top: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.duiClass1{
	font-size: 25px;
	margin-left: -20px;
}
.reportStatusCard1{
	width: 100%;
	background-color: white;
	margin-top: 30px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;

}
.steps{
	margin-left: 10px;
}
.reportStart{
	background-color: #f3f3f3;
	width: 80%;
	margin-left: 20px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}
.reportItems{
	display: flex;
	align-items: center;
	font-size: 13px;
	color: gray;
}
.toMyReportClass{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 50px;
	color: gray;
}